.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff !important;
}
.custom-nav .custom-nav-item a {
  color: #fff !important;
}
.nav-heading-item a {
  color: #fff !important;
}
.nav-heading-item #logout:hover {
  background-color: #dc3545;
  border: solid 1px #dc3545;
  border-radius: 10px;
}
.custom-nav-item:hover {
  background-color: #dc3545;
  border: solid 1px #dc3545;
  border-radius: 10px;
}
#mySidenav {
  position: relative;
}
#mySidenav a {
  position: absolute;
  left: -142px;
  transition: 0.3s;
  padding: 16px;
  width: 190px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #4caf50;
}

#blog {
  top: 80px;
  background-color: #2196f3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#contact {
  top: 200px;
  background-color: #555;
}
.navbar-text{
        font-size: 12px;
    }