body html {
  margin: 0px;
  padding: 0px; 

}
.vid-parent {
  position: relative;
}
.remove-vid-marg {
  margin: 0px;
  padding: 0px;
}
video {
  width: 100%;
  height: 100%;
}
.vid-overlay {
  position: absolute;
  top: -4px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #466575;
  z-index: 1;
  opacity: 0.8;
}
.vid-content {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 35%;
  text-align: center;
  color: #fff;
}
.swal-footer {
  text-align: center;
  padding-top: 13px;
  margin-top: 13px;
  padding: 13px 16px;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.swal-button--danger {
  background-color: #28a745;
}
.swal-button--danger:hover {
  background-color: #28a745 !important;
}
.swal-button--cancel {
  color: #fff;
  background-color: #e64942 !important;
  border-color: #e64942 !important;
}
.swal-button--cancel:hover {
  color: #fff;
  background-color: #e64942 !important;
  border-color: #e64942 !important;
}
.bottom-banner {
  padding: 10px;
  color: #fff;
}
.txt-banner {
  margin-top: -4px;
  border-top: 1px solid #dc3545;
}
.stripe {
  background-image: linear-gradient(240deg, #ed213a, #93291e);
  padding: 3rem;
  height: 13rem;
  margin-top: 4rem;
  transform: rotate(10deg);
  z-index: -5;
}
.shadow-effect {
  background: #0096883d!important;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ececec;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}
#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3190e7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190e7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190e7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

.social-div:hover {
  background-color: #212529;
}

.social-hover:hover {
  text-decoration: none;
}

/*.regimg {
  
  background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/12/pencils-1280558_960_720.jpg');

  min-height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
*/
/* Full-width input fields */
/* input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} */

/* input[type='text']:focus,
input[type='password']:focus {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit button */
.signup-button {
  background-color: #4caf50;
  color: white;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.signup-button:hover {
  opacity: 1;
  color: #fff;
}
/* media query for mobile device */
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .my-content,
  .stripe,
    .txt-banner {
    display: none;
  }
  .vid-parent{
    margin-top:14%;
  }
  .vid-content {
    top: 18%;
    left: 35%;
  }
  .custom-nav .custom-nav-item a {
    padding: 10px 20px;
    background-color: #225470;
  }

  .custom-nav-item:hover {
    background-color: none;
    border: none;
    border-radius: none;
  }
}
/* iPad */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .my-content,
  .stripe,
    .txt-banner {
    display: block;
  }
  /*.vid-parent{
    margin-top:32%;
  }*/
  .vid-content {
    top: 16%;
    left: 26%;
  }
  .custom-nav .custom-nav-item a {
    padding: 10px 20px;
    background-color: none;
  }

  .custom-nav-item:hover {
    background-color: #dc3545;
  border: solid 1px #dc3545;
  border-radius: 10px;
  }
}
/* iPad pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .my-content,
  .stripe,
    .txt-banner {
    display: block;
  }
  /*.vid-parent{
    margin-top:32%;
  }*/
  .vid-content {
    top: 24%;
    left: 33%;
  }
  .custom-nav .custom-nav-item a {
    padding: 10px 20px;
    background-color: none;
  }

  .custom-nav-item:hover {
    background-color: #dc3545;
  border: solid 1px #dc3545;
  border-radius: 10px;
  }
}

/*@media screen and (max-width: 640px) {
  .my-content,
  .stripe,
    .txt-banner {
    display: block;
  }
  .vid-parent{
    margin-top:32%;
  }
  .vid-content {
    top: 16%;
    left: 33%;
  }
  .custom-nav .custom-nav-item a {
    padding: 10px 20px;
    background-color: none;
  }

  .custom-nav-item:hover {
    background-color: #dc3545;
  border: solid 1px #dc3545;
  border-radius: 10px;
  }
}

*/

